/*light-theme*/
.page.theme_light {
  --bg-color: #353430;
  --accent-color: #FF8DCB;
  --h1-color: #FFC2E6;
  --h2-color: #353430;
  --hover-border-color: rgba(50, 49, 45, 0.40);
  --nav-menu-color: #353430;
  --p-color: #353430;
  --title-text-color: #353430;
  --title-shadow: #ff0070;
  --title-bg-color: #ff0070;
  --display-rec: none;
  background-image: url(../images/cover-image-light.png);
}

/*end*/